.section .comida {
    padding: 5px;
}

.section .comida form .par{
    padding: 5px;
    width: 250px;
    margin-right: 5px;
    background-color: rgba(255, 255, 255, 0.151);
    border-radius: 15px 5px;
}

.section .comida .formulario{
    width: fit-content;
    margin: 1px auto;
    
}

.section .comida  form{
    display: inline-flex;
    padding: 10px;
    margin: 5px 2%;
}

.section .comida form input{
    display: flex;
    margin: 5px auto;
    text-align: center;
}

.section .comida form label{
    display: grid;
    text-align: center;
}
.section .comida form div.selecto{
    margin: 5px 60px;
}

.Cuales_Prefieres{
    width: max-content;
    padding: 5px;
    width: 1045px;
    margin-right: 5px;
    background-color: rgba(255, 255, 255, 0.151);
    border-radius: 15px 5px;
}

.Preferencias label{
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.336);
    margin: 5px auto;
}

.Preferencias {

    display: flex;
}

.Sancocho_frijoles label.element{
    width: 120px;
}
.Sancocho_frijoles div{
    margin: 0 auto;
    display: flex;
}