.Datos blockquote{
    
    padding: 8px;
    text-align: right;
    width: 800px;
    float: right;
    background-color: rgba(255, 255, 255, 0.164);
    border-radius: 25px;
    padding: 15px;
    margin-top: 30px
}

.Edato{
    display: inline-block;
    width: 1200px;
    margin: 3px 0;
}

.Fdato{
    float: left;
    width: 50px;
    margin-left: 50px;
}

.Fdato img{
    border-radius: 100px;
    width: 220px ;
    height: 150px;
}

.Vdato{
    float: left;
    width: 50px;
    margin-left: 55px;
}

.Vdato video{
    border-radius: 15px;
    width: 200px ;
    height: 200px;
}
