body{
    background:
        linear-gradient(
        120deg,
        #59d3fc,
        #554dde,
        #59d3fc,
        #554dde
        );
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    display: flex;
}

hr{
    border: 2px solid white;
    margin: 2px -4px;
}

.todo{
    background-color: rgb(53, 53, 59);
    margin-left : 50px;
    margin-right : 50px;
    border-radius: 50px;
    padding: 3px;
    border: 3px solid white ;
}

.indice{
    max-width: 600px;
    margin: auto;
    padding: 10px 0px;
    
}

.indice h1{
    border: 1px solid black;
    max-width: 500px;
    margin: auto;
    background-color: yellowgreen;
    text-align: center;
    border-radius: 50px;
    padding: 5px;
    position: sticky;
    top: 10px;
}

.indice .lista {
    width: min-content;
    margin: auto;
}

.indice ul {
    width: 342px;
    margin: 5px 0;
    padding: 10px 5px 5px 5px;
    border: 5px rgb(184, 209, 133);
    border-style: double 
}

.indice li{
    border-radius: 15px;
    width: 100px;
    height: 60px;
    margin-bottom: 5px;
    text-align: center;
    list-style-type: none;
    background-color: rgb(230, 230, 230);
    padding: 5px;
    display: inline-table;
    
}

.section{
    padding: 5px;
    margin: 1px auto;
    display: flow-root;
}

.section h2{
    background-color: yellowgreen;
    max-width: 500px;
    border-radius: 50px;
    margin: auto;
    padding: 8px ;
    text-align: center;
    position: sticky;
    top: 5px;
}

.section p {
    max-width: max-content;
    text-align: center;
    padding: 6px;
    background-color: wheat;
    color: black;
    border-radius: 15px;
    margin: 10px auto;
}

.section #responsibily{ 
    border-radius: 20px 5px;
    background-color: rgba(255, 255, 255, 0.938);
    color: black;
    max-width: 200px;
    margin: 0px 300px;
    padding: 5px 20px;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section #frase{
    padding: 3px;
    text-align: right;
    min-width: fit-content;
    width: 200px;
    float: right;
    background-color: rgba(255, 255, 255, 0.164);
    border-radius: 25px;
    padding: 15px;
}

.section .musica .img{
    
    box-shadow: 0 0 25px 10px rgba(255, 255, 255, 0.205);
    background-color: rgba(255, 255, 255, 0.164);
    width: 220px;
    height: 95px;
    padding: 5px;
    margin: 0px auto;
}

.section .musica img{
    width: 220px;
    height: 95px;
}

.section .musica ol li {
    margin: 10px auto;
}

.section .musica ul {
    display: flex;
    width: 900px;
    margin: auto;
}

.section .musica ul li {
    width: 200px;
    margin: 5px auto;
    background-color: rgb(230, 230, 230);
    list-style-type: none;
    padding: 10px;
    border-radius: 5px 10px;
    text-align: center;
}
